
.v-customcomponent-aspectaware-linkfield .aspects-info {
	white-space: normal;
}

.v-customcomponent-aspectaware-linkfield .aspects-info.error {
	color: red;
}

.v-customcomponent-aspectaware-linkfield .aspects-info.warn {
	color: orange;
}